/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
table, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  margin: auto;
  width: 900px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
  border-radius: 10px;
}

tr, th, td,thead, tbody, caption {
    background-color: white;
    border: 1px solid black;
}

tr{
  height: 4em;
}
caption{
  height: 4em;
  line-height: 100px;
  background-color: #A8B191;
  font-size: 30px;
}
tbody tr:nth-child(odd){
  background-color: #A8B191;
}


/*queve*/

table.queve, table.picked {
  table-layout: fixed;
  height: 200px;
  width: 400px;
}

table.queve tr, table.picked tr {
 height: 20px;
 text-align: center;
}

table.queve caption, table.picked caption{
 height: 30px;
 text-align: center;
 font-size: 20px;
 line-height: 30px;
}

table.queve td:nth-child(1){
width: 30px;
}
table.queve td:nth-child(2){
width: 100px;
}
table.queve td:nth-child(3){
width: 30px;
}
table.queve td:nth-child(4){
width: 20px;
}

table.queve, table.picked {
  max-height: 100px;
  width: 100%;
  overflow: scroll;
}
.queve-table{
  max-height: 200px;
  width: 400px;
  overflow-y: scroll;
}
/*modal*/

.modal{
  /* arbitrary styling */
  background-color: rgba(0,0,0,0.9);
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  height:600px;
  width:600px;
  padding: 10px;
  color: white;
  /* change position to fixed if you want to prevent the dialog from scrolling away, and center it */
  position:fixed;
  top:15%;
  left:30%;
  margin-left: -50px;
  margin-top:-50px;
}
.modal::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 33, 47, 0.7);

}
