/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
table, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  margin: auto;
  width: 900px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
  border-radius: 10px;
}

tr, th, td,thead, tbody, caption {
    background-color: white;
    border: 1px solid darkgreen;
}

tr{
  height: 4em;
}
caption{
  height: 4em;
  line-height: 100px;
  background-color: #A8B191;
  font-size: 30px;
}

tbody tr:nth-child(odd){
  background-color: #A8B191;
}


/*queve*/

table.queve, table.picked {
  table-layout: fixed;
  height: 200px;
  width: 400px;
}

table.queve tr, table.picked tr {
 height: 20px;
 text-align: center;
}

table.queve caption, table.picked caption{
 height: 30px;
 text-align: center;
 font-size: 20px;
 line-height: 30px;
}

table.queve td:nth-child(1){
width: 30px;
}
table.queve td:nth-child(2){
width: 100px;
}
table.queve td:nth-child(3){
width: 30px;
}
table.queve td:nth-child(4){
width: 20px;
}

table.queve, table.picked {
  max-height: 100px;
  width: 100%;
  overflow: scroll;
}
.queve-table{
  max-height: 200px;
  width: 400px;
  overflow-y: scroll;
}
/*modal*/

#signup-modal {
  display: none;
}


.modal{
  /* arbitrary styling */
  display: none;
  background-color: rgba(0,0,0,0.8);
  border-radius: 2px;
  box-shadow: 0px 0px 70px rgba(0, 65, 0, 0.6);
  height:600px;
  width:600px;
  padding: 10px;
  color: white;
  z-index: 2000;
  /* change position to fixed if you want to prevent the dialog from scrolling away, and center it */
  position:fixed;
  top:15%;
  left:30%;
  margin-left: -50px;
  margin-top:-50px;
}

.modal-transparent-background{
   display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);

}
/*navigation*/
li{
  list-style-type: none;
  display: inline-block;
}

/*button*/
.large-button {
  font-size:16px;
  font-family:Arial;
  font-weight:normal;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #dcdcdc;
  padding:13px 36px;
  text-decoration:none;
  background:-moz-linear-gradient( center top, #ededed 52%, #dfdfdf 53% );
  background:-ms-linear-gradient( top, #ededed 52%, #dfdfdf 53% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(52%, #ededed), color-stop(53%, #dfdfdf) );
  background-color:#ededed;
  color:#777777;
  display:inline-block;
  text-shadow:0px 1px 4px #ffffff;
  -webkit-box-shadow:inset 0px 1px 43px -1px #ffffff;
  -moz-box-shadow:inset 0px 1px 43px -1px #ffffff;
  box-shadow:inset 0px 1px 43px -1px #ffffff;
}.large-button:hover {
  background:-moz-linear-gradient( center top, #dfdfdf 52%, #ededed 53% );
  background:-ms-linear-gradient( top, #dfdfdf 52%, #ededed 53% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background:-webkit-gradient( linear, left top, left bottom, color-stop(52%, #dfdfdf), color-stop(53%, #ededed) );
  background-color:#dfdfdf;
}.large-button:active {
  position:relative;
  top:1px;
}

