@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700,800:bold);

html {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 80em;
  margin:auto;
}

ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
body {
  font-family:Open Sans;
}

h1 {
  width :500px;
  color: white;
  border: 5px double white;
  font-family: Open Sans;
  font-size: 4em;
  font-weight: 800;
  letter-spacing: 3px;
  text-shadow: 3px 3px darkgreen;
  text-transform: uppercase;
  text-align: center;
  margin: 10%;
  margin-left:auto;
  margin-right:auto;
  padding: 20px;
}

h2 {
  font-family: Open Sans;
  color: white;
  font-weight: 300;
  text-shadow: 3px 3px darkgreen;
}

h3 {
  width :500px;
  color: white;
  border: 5px double white;
  font-family: Open Sans;
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 3px;
  text-shadow: 3px 3px darkgreen;
  text-transform: uppercase;
  text-align: center;
  margin: 50px;
  margin-left:auto;
  margin-right:auto;
  padding: 20px;
}

#draftboard {
  border: 1px dotted gray;
  height: 300px;
  width: 600px;
  margin: 50px;
  margin-left:auto;
  margin-right:auto;
}

footer {
  font-family: Open Sans;
  font-weight: 400;
  margin: 20px;
  text-align: center;
}

button {
  display:block;
}

section.left {
  display: inline-block;
  width: 400px;
  float: left;
}

section.right {
  display: inline;
  width: 400px;
  float: left;
  margin-left: 100px ;
}

#panels {
  width: 900px;
  text-align: center;
  margin: auto;
  display: block;
}

table {
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
}

footer {
  font-family: Open Sans;
  font-weight: 300;
  letter-spacing: 2;
  color: white;
  text-align: center;
  clear: both;
  padding-top: 100px;
  text-shadow: 3px 3px black;
}
