<!DOCTYPE html>
<html>
<head>
  <title>Fantasy Mock Draft</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script language="JavaScript" type = "text/Javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <footer>Made by Sid, Anthony, Fahia, and Cassie.</footer>
</body>
</html>
